/* The Modal (background) */

*,
*:before,
*:after {
    box-sizing: inherit;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.ask-input {
    background: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 5;
    top: 0;
    margin: 0px;
    left: 0px;
    display: none;
}

.write-box {
    margin: 20px;
}

textarea {
    border: 1px solid #999999;
    width: 100%;
    margin: 5px 0;
    padding: 12px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
    border-radius: 4px;
}

.write-done {
    background: lightgrey;
    height: 48px;
    padding: 24px auto;
    margin-right: 20px;
    margin-left: auto;
    width: 62px;
    text-align: center;
    border-radius: 8px;
    position: absolute;
    bottom: 40px;
    right: 0px;
    font-size: 16px;
}

.write-done-text {
    vertical-align: middle;
}

.scroll-container {
    overflow: scroll;
    white-space: nowrap;
    padding: 12px;
    padding-right: 80px;
    height: 96px;
    border-radius: 15px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    background: #888;
    border-radius: 4px;
    position: relative;
    margin-bottom: 24px;
}

.gridscroll {
    display: inline-block;
    overflow-y: hidden;
    height: 72px;
}

.scroll-container img {
    margin-right: 8px;
    /* flex: 1; */
    transition: ease .3s;
    position: relative;
    border-radius: 4px;
    flex-direction: row;
    width: 72px;
    height: 72px;
    display: inline-block;
}

.write {
    background: black;
    position: absolute;
    height: 96px;
    width: 80px;
    right: 0px;
    top: 0px;
}

.write-text {
    color: white;
    text-align: center;
    height: auto;
    margin-top: 12px;
}

.draggable {
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.dropped {
    position: static !important;
}

.hide {
    display: none;
}

.drag-over {
    box-shadow: 0px 6px 12px #000000;
}

.test {
    width: 72px;
    height: 72px;
    background: black;
}